*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #777;
}
a.btn-blue, .btn-blue {
    background-color: aqua;
    border: 1px solid aqua;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
    color: black;
    transition: all .3s;
    padding: 15px 30px;
}

a.btn-blue:hover, .btn-blue:hover {
    background-color: black;
    border: 1px solid aqua;
}
/*Main menu Styles Start*/

#main-nav{
    background-color: transparent;
    border: 0;
}
#main-nav a.navbar-brand {
    font-size: 2em;
    font-family: "Droid Serif", "sans-serif";
    text-transform: none;
}
#main-nav a{
    color: #fff;
    text-transform: uppercase;
    font-family: "Droid Serif", "sans-serif";
}
#main-nav a:hover {
    color: #0ed8e6;
}
#main-header .header-caption {
    position: absolute;
    
}
/*Main menu Styles Stop*/

/*Main header styles start*/
#main-header {
    height: 100vh;
    background-image: linear-gradient(to bottom 0,0,0,0)
}